<div>
  <div class="item"><b>Author</b>: <%= link_to post.author %></div>
  <div class="item"><b>Title</b>: <%= post.title %></div>
  <div class="item"><b>Description</b>: <%= post.description %></div>
  <div class="item"><b>Created at</b>: <%= post.created_at %></div>
  <div class="item"><b>Category</b>: <%= post.category %></div>
  <div class="item"><b>Position</b>: <%= post.position %></div>
  <div class="item"><b>Tags</b>: <%= post.tags_list %></div>
  <div class="item"><b>Published at</b>: <%= post.published_at %></div>
</div>
